html {
    font-size: 25px;
    font-family: 'jdzhonyuanjiand54cf5c9c1a779',sans-serif;
    background-image: url(/images/bg-image.jpg);
    background-size: contain;
}

body {
    width: 600px;
    margin: 0px auto;
    background-color: #F2AF21;
    padding: 0 20px 20px 20px;
    border: 5px solid black;  
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #8A9Fa4;
    text-shadow: 5px 5px 0px black;
}

p,li {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
}

